.charts{
  width:400px;
}
.sidenav {
    height: 1200px;
    margin-top: 80px;
    width: 435px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#1D4975;
background-image: linear-gradient(315deg, #124373 0%, #124373 74%);

    overflow-x: hidden;
    padding-top: 20px;
  }
  h2{
      color: white;
      
  }
  .link :hover{
    text-decoration: none;
   }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color:black;
    background-color:#59A6F8 ;
  }

